/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #d91414;
    background-color: #02ff85;
    
  }
/* W3schools for base code */
  div.image {
    position: relative;
    right: 150px;
    float: right;
  }